.menu{
    @extend %encabezado320;
    &:hover{
        @extend %hov;
    }    
}
.menu{
    font-size: 50px;
    font-weight: bold;
    background-color: white;
    height: 150px;
    width: 100%;
    background-image: url(../../img/Logo\ Mailin\ Sweets\ -\ Original\ OFF.png);
    background-size: contain;
    background-position: center;
    text-align: center;
    padding: 50px;
    border-radius: 10px;
    &:hover{
        @extend %hov;
    }   
}
.contenido2 {
display: flex;
.img3{
    border: 1px solid black;
    background-position: center;
    background-size: cover;
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    background-image: url(../../img/mousse\ de\ chocolate.webp);
}
.img4{
    border: 1px solid black;
    background-position: center;
    background-size: cover;
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    background-image: url(../../img/flan\ vegano.webp);
}
.img5{
    border: 1px solid black;
    background-position: center;
    background-size: cover;
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    background-image: url(../../img/cheesecakede\ arandanos.webp);
    height: 330px;
}
.img6{
    border: 1px solid black;
    background-position: center;
    background-size: cover;
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    background-image: url(../../img/hojaldre.webp);
    height: 330px;
}
.p3{
    border: 1px solid black;
    background-position: center;
    background-size: cover;
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    height: 330px;
    font-size: 10px;
}
.p4{
    border: 1px solid black;
    background-position: center;
    background-size: cover;
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    height: 330px;
    font-size: 10px;
}
.p5{
    border: 1px solid black;
    background-position: center;
    background-size: cover;
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    height: 340px;
    font-size: 10px; 
}
.p6{
    border: 1px solid black;
    background-position: center;
    background-size: cover;
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    height: 340px;
    font-size: 10px;
}
}




@media only screen and (min-width: 1024px) {

    .menu{
        font-size: 50px;
        font-weight: bold;
        background-color: white;
        height: 150px;
        width: 100%;
        background-image: url(../../img/Logo\ Mailin\ Sweets\ -\ Original\ OFF.png);
        background-size: contain;
        background-position: center;
        text-align: center;
        padding: 50px;
        border-radius: 10px;
        &:hover{
            @extend %hov;
        }   
    }
    .contenido2 {
    display: flex;
    .img3{
        border: 1px solid black;
        background-position: center;
        background-size: cover;
        background-color: white;
        border-radius: 10px;
        margin: 10px;
        background-size: cover;
        background-position: center;
        background-image: url(../../img/mousse\ de\ chocolate.webp);
        max-width: 75%;
        height: auto;
    }
    .img4{
        border: 1px solid black;
        background-position: center;
        background-size: cover;
        background-color: white;
        border-radius: 10px;
        margin: 10px;
        background-size: cover;
        background-position: center;
        background-image: url(../../img/flan\ vegano.webp);
        max-width: 75%;
        height: auto;
    }
    .img5{
        border: 1px solid black;
        background-position: center;
        background-size: cover;
        background-color: white;
        border-radius: 10px;
        margin: 10px;
        background-size: cover;
        background-position: center;
        background-image: url(../../img/cheesecakede\ arandanos.webp);
        max-width: 75%;
        height: auto;
    }
    .img6{
        border: 1px solid black;
        background-position: center;
        background-size: cover;
        background-color: white;
        border-radius: 10px;
        margin: 10px;
        background-size: cover;
        background-position: center;
        background-image: url(../../img/hojaldre.webp);
        max-width: 75%;
        height: auto;
    }
    .p3{
        border: 1px solid black;
        background-position: center;
        background-size: cover;
        background-color: white;
        border-radius: 10px;
        margin: 10px;
        height: auto;
        font-size: 20px;
        text-align: justify;
    }
    .p4{
        border: 1px solid black;
        background-position: center;
        background-size: cover;
        background-color: white;
        border-radius: 10px;
        margin: 10px;
        height: auto;
        font-size: 20px; 
        text-align: justify; 
    }
    .p5{
        border: 1px solid black;
        background-position: center;
        background-size: cover;
        background-color: white;
        border-radius: 10px;
        margin: 10px;
        height: auto;
        font-size: 20px;
        text-align: justify; 
    }
    .p6{
        border: 1px solid black;
        background-position: center;
        background-size: cover;
        background-color: white;
        border-radius: 10px;
        margin: 10px;
        height: auto;
        font-size: 20px;
        text-align: justify; 
    }
}
}