footer{
    display: inline-block;
    background-color: map-get($colores , color-pie);
    width: 100%;
    color:  white;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    .redes{
        margin: 20px;
        a{
            text-decoration: none;
            color:  map-get($colores , color-media);
            font-size: 50px;
            letter-spacing: 15px;
        }
        
    }
}